@import url(https://fonts.google.com/specimen/Overpass);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  --color-white: #fff;
  --color-orange: #fc7614;
  --color-button: #7c8798;
  --color-paragraph: #969fad;
}
/* Heading (Large) */
.heading-l {
  font-family: "Overpass, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: var(--color-white);
}

/* Rating */
.rating {
  font-family: "Overpass, sans-serif ";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px; /* identical to box height, or 150% */
}

/* Heading (Medium) */
.heading-m {
  font-family: "Overpass, sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
}

/* Body */
.body {
  font-family: "Overpass, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px; /* identical to box height, or 160% */
  color: #7c8798;
  display: flex;
}

body {
  background-color: hsl(216, 12%, 8%);
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  background: radial-gradient(at top, #232a34 20%, #181e27);
  border-radius: 10px;
  margin: 2em auto;
  padding: 1.5em;
  width: 90%;
  display: block;
}

header.circle {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #262e38;
}
.star {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #262e38;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  margin: 0 auto;
}
.heading-l {
  margin-block: 0.6em;
}
.body {
  margin-bottom: 1.5em;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}
.circle {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  background-color: #262e38;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.circle:hover {
  background-color: #969fad;
}
.circle:active {
  background-color: #fc7614;
}
/*added class with JS to the selected rating*/
.selected {
  background-color: var(--lightGrey);
  color: var(--white);
}

.submit-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.submit-button {
  background-color: #fc7614;
  border: none;
  padding-block: 1em;
  width: 100%;
  border-radius: 99vh;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  cursor: pointer;
}
.submit-button:active {
  background-color: aqua;
}
.submit-button:hover {
  background-color: white;
  color: #fc7614;
}
input {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  display: none;
}
.card-container-rating {
  background: radial-gradient(at top, #232a34 20%, #181e27);
  border-radius: 10px;
  margin: 2em auto;
  padding: 1.5em;
  width: 90%;
  display: none;
}
.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rating {
  color: #fc7614;
  font-weight: bold;
}
.heading {
  color: white;
  font-weight: bold;
  margin-block: 0.6em;
}
.paragraph {
  color: var(--color-paragraph);
  text-align: center;
}

@media screen and (min-width: 375px) {
  .card-container {
    background: radial-gradient(at top, #232a34 20%, #181e27);
    border-radius: 10px;
    margin: 2em auto;
    padding: 1.5em;
    max-width: 412px;
  }
}
