@import url(https://fonts.google.com/specimen/Overpass);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  --color-white: #fff;
  --color-orange: #fc7614;
  --color-button: #7c8798;
  --color-paragraph: #969fad;
}
/* Heading (Large) */
.heading-l {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: var(--color-white);
}

/* Rating */
.rating {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px; /* identical to box height, or 150% */
}

/* Heading (Medium) */
.heading-m {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
}

/* Body */
.body {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px; /* identical to box height, or 160% */
  color: var(--color-paragraph);
  display: flex;
}

body {
  background-color: hsl(216, 12%, 8%);
}
main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.box-container {
  max-width: 412px;
  max-height: 416px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
}
.container-wrapper {
  margin: 1.5em;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-paragraph);
  border: none;
}
.star {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-paragraph);
  margin-top: 1.5em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  margin: 0 auto;
}
.heading-l {
  margin-block: 0.6em;
}
.body {
  margin-bottom: 1.5em;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.button span {
  color: var(--color-white);
}
.btn-group .circle {
  margin: 1em;
}
.submit-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  background-color: #fc7614;
  border: none;
  padding-block: 1em;
  padding-inline: 8em;
  border-radius: 99vh;
  margin-bottom: 1em;
}
